[submodule "DiceGlow/Assets/madjin/vrm-samples"]
	path = DiceGlow/Assets/madjin/vrm-samples
	url = https://github.com/madjin/vrm-samples
[submodule "DiceGlow/Assets/bbible3/UnityLavaLamps"]
	path = DiceGlow/Assets/bbible3/UnityLavaLamps
	url = https://github.com/bbible3/UnityLavaLamps
[submodule "DiceGlow/Assets/Neitri Netri/Neitri-Unity-Shaders"]
	path = DiceGlow/Assets/Neitri Netri/Neitri-Unity-Shaders
	url = https://github.com/netri/Neitri-Unity-Shaders
[submodule "DiceGlow/Assets/derkreature/ShaderBall"]
	path = DiceGlow/Assets/derkreature/ShaderBall
	url = https://github.com/derkreature/ShaderBall.git
[submodule "DiceGlow/Assets/lox9973/ShaderMotion"]
	path = DiceGlow/Assets/lox9973/ShaderMotion
	url = https://gitlab.com/lox9973/ShaderMotion.git
[submodule "DiceGlow/Assets/lox9973/ShaderAudio"]
	path = DiceGlow/Assets/lox9973/ShaderAudio
	url = https://gitlab.com/lox9973/ShaderAudio.git
