[submodule "DiceGlow/Assets/madjin/vrm-samples"]
	path = DiceGlow/Assets/madjin/vrm-samples
	url = https://github.com/madjin/vrm-samples
	ignore = dirty
[submodule "DiceGlow/Assets/bbible3/UnityLavaLamps"]
	path = DiceGlow/Assets/bbible3/UnityLavaLamps
	url = https://github.com/bbible3/UnityLavaLamps
	ignore = dirty
[submodule "DiceGlow/Assets/Neitri Netri/Neitri-Unity-Shaders"]
	path = DiceGlow/Assets/Neitri Netri/Neitri-Unity-Shaders
	url = https://github.com/netri/Neitri-Unity-Shaders
	ignore = dirty
[submodule "DiceGlow/Assets/derkreature/ShaderBall"]
	path = DiceGlow/Assets/derkreature/ShaderBall
	url = https://github.com/derkreature/ShaderBall.git
	ignore = dirty
[submodule "DiceGlow/Assets/lox9973/ShaderMotion"]
	path = DiceGlow/Assets/lox9973/ShaderMotion
	url = https://gitlab.com/lox9973/ShaderMotion.git
	ignore = dirty
[submodule "DiceGlow/Assets/lox9973/ShaderAudio"]
	path = DiceGlow/Assets/lox9973/ShaderAudio
	url = https://gitlab.com/lox9973/ShaderAudio.git
	ignore = dirty
[submodule "DiceGlow/Assets/NotAKid Prefabs"]
	path = DiceGlow/Assets/NotAKid Prefabs
	url = https://github.com/NotAKidOnSteam/NAK_CVR_Prefabs.git
	ignore = dirty
[submodule "DiceGlow/Assets/LensError/CVRLuaTesting"]
	path = DiceGlow/Assets/LensError/CVRLuaTesting
	url = https://github.com/LensError/CVRLuaTesting.git
[submodule "DiceGlow/Assets/Tholin/ShaderPlaygound"]
	path = DiceGlow/Assets/Tholin/ShaderPlaygound
	url = https://github.com/89Mods/ShaderPlayground
